{% extends 'about.html' %}
{%load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/aboutlist.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block layout_main %}
<div class="Layout_main">
    <div class="aboutme_layout_container">
        <div class="title">
            <h1 class="title_text">Introduce My Self</h1>
        </div>
        <div class="subtitle">
            <h2 class="subtitle_text">About Me</h2>
        </div>
        <div class="aboutme_content_container">
            <div class="personal_infos">
                <div class="profile_image">
                    <img class="profile_img"src="{% static 'img/profiletest.jpg' %}">
                </div>
            </div>
            <div class="personal_infos_detail">
                <div class="personal_infos_name">
                    Beak Jong Seoung
                </div>
                <div class="personal_infos_linkbox">
                    <div class="personal_infos_linktitle">Email</div>
                    <a><div class="personal_infos_link">jjong015189@naver.com</div></a>
                </div>
                <div class="personal_infos_linkbox">
                    <div class="personal_infos_linktitle">Git Hub</div>
                    <a href="https://github.com/jong-seoung"><div class="personal_infos_link">https://github.com/jong-seoung</div></a>
                </div>
                <div class="personal_infos_linkbox">
                    <div class="personal_infos_linktitle">Blog</div>
                    <a href="https://jongseoung.tistory.com/"><div class="personal_infos_link">https://jongseoung.tistory.com/</div></a>
                </div>
            </div>
        </div>
        <div class="aboutme_personal_introduction">
            <span>Hi!</span>
            <span>Development is very fun for me.</span>
            <span>My strong point is solving difficult problems through</span> 
            <span>concentration and tenacious persistence.</span>
        </div>
    </div>

</div>

{% endblock layout_main %}