{% extends 'base.html' %}
{%load static%}

{% block title %}
<title>Beak-Jongseoung│web portfolio</title>
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"> 
{% endblock title %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block layout_main %}
<div class="Layout_main">
    <div class="Layout_main_vscode_img_box" >
        <img class="Layout_main_vscode_img" src="{% static 'img/vscode_white.png' %}" alt="">
    </div>
</div>
{% endblock layout_main %}