{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web_Portfolio</title>
    <!-- 부트 스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- 구글 머티리얼 아이콘-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Symbols+Outlined|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href ="/static/css/mystyle.css" type="text/css">
</head>

<body style="background: #FAFAFA; overflow: hidden; height: 100%;">
    <!-- 부트 스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-white" style="position: fixed; z-index: 1; width: 100%; height: 6%;">
        <div class="container-fluid">
            <div class="main_navbar">
                <!-- nav bar left-->
                <div>
                    <a class="navbar-brand" href="/">
                        Web_Portfolio
                    </a>
                </div>

                <!-- About Me dropdown-->
                <div class="dropdown_AboutMe">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CONTACT ME
                        </a>
                        <div class="dropdown-menu" style="text-align: center; width: 100%; margin-top: 3%;">
                            <li><a class="dropdown-item" href="/">HOME</a></li>
                        </div>
                    </div>
                </div>

                <!-- nav bar right-->
                <div class ="navbar_right">
                    <a href="/" style="color: black;"><span class="material-symbols-outlined" style="margin: 1px 7px;">home</span></a>
                    <span class="material-symbols-outlined" style="margin: 1px 7px;">mail</span>
                    <div class="navbar_profile_box" style="margin: 1px 7px;"><img class="navbar_profile" src="{% get_media_prefix %}profile2.png"></div>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav bar end -->

    <!-- main_screen -->
    <div class="main_screen">
        <!-- left screen -->
        <div class="main_screen_left">
            <div class="main_screen_left_content">
                <div class="box">
    
                    <img class="profile" src="{% get_media_prefix %}profile2.png">
    
                </div>
                <div class="profile_name_font">
                    - 백종성 -
                </div>
                <div class="profile_content_font">
                    <br>
                    안녕하세요. 
                    <br>
                    개발이 너무 재미있는 개발자입니다.
                    <br>
                    저의 장점은 놀라운 집중력과 집요한 끈기를 통해 
                    <br>
                    어려운 문제도 풀어 내는 것입니다.
                </div>
                <div class="profile_content_under_font">
                    @ 2023 ProfileWeb From Jongseoung
                    <br>
                    @ Got any questions? - <a href="" style="text-decoration: none;">Contact Me</a>
                </div>
            </div>
        </div>
        <!-- right screen -->
        <div class="main_screen_right">

            <!-- CONTACT ME feed box -->
            <div style="border: solid; border-color: gainsboro; border-radius: 10px; margin-top: 30px;">
                <div style="text-align: left; margin: 10px 20px; font-size: 20px; font-weight: bolder;">
                    📧 CONTACT ME
                </div>
                <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 70%;">
                    <div style="display: flex; flex-direction: column; justify-content: center; text-align: left; margin-left: 10px;">
                        <div style="display: flex; flex-direction: row; justify-content: left; margin: 10px 0px;">
                            <div class="aboutme_head_font" style="width: 50%;">
                                Name
                            </div>
                            <div class="aboutme_head_font" style="width: 50%;">
                                Email Address
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: left;">
                            <div style="width: 50%;">
                                <input id="contactme_namebox" type="text" name="name" size="38%" value=" Write down your name" style="color: gainsboro; padding: 2px 2px;">
                            </div>
                            <div style="width: 50%;">
                                <input id="contactme_emailbox" type="text" name="Email" size="38%" value=" id@email.com" style="color: gainsboro; padding: 2px 2px;">
                            </div>
                        </div>
                        <br>
                        <div class="aboutme_head_font">
                            Message
                        </div>
                        <div>
                            <form >
                                <textarea id="contactme_message_textbox"rows = "10" cols = "85%" name = "Message" style="color: gainsboro;"> Write down the message you want to send me</textarea>
                            </form>
                        </div>
                        <br>
                        <div style="text-align: right; margin-right: 20px;">
                            <button style="border-radius: 30px; padding: 8px 15px; background-color: #d1d1d1;">send message</button>
                        </div>
                        <br>
                    </div>
                </div>
                <div style="margin-top: 30px;"></div>
            </div>
        </div>

        <!-- main_screen_right_sidebar-->
        <div class="main_screen_right_sidebar">
            <div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
                <div>
                    <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/git-hub-logo.png" style="width: 25px; height: 25px; object-fit: cover;"></a>
                    <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/tistorylogo.png" style="width: 25px; height: 25px; object-fit: cover; margin-top: 5px;"></a>
                </div>
                <div>
                    
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#contactme_message_textbox").click(function(){
            $("#contactme_message_textbox").val("");
            $("#contactme_message_textbox").css('color','black');
        });
        $("#contactme_namebox").click(function(){
            $("#contactme_namebox").val("");
            $("#contactme_namebox").css('color','black');
        });
        $("#contactme_emailbox").click(function(){
            $("#contactme_emailbox").val("");
            $("#contactme_emailbox").css('color','black');
        });
    </script>
</body>
</html>