<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background: #FAFAFA;">
    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
        <div style="padding: 10px 20px; text-align: center; border: solid 2px rgba(219, 219, 219, 1); width: 300px; height: 340px; margin-top: 50px; background: white;">
            <div style="padding-bottom: 10px;">
                이미지
            </div>
            <div style="font-weight: bold; color: gray; padding-bottom: 10px;"">
                Thank you for visiting my portfolio website
            </div>
            <div class="form-floating mb-3" style="padding-bottom: 0px;" >
                <input id = "input_email" type="email" class="form-control" placeholder="name@example.com" style="height: 50px; font-size: 14px; padding-bottom: 10px;">
                <label for="input_email" style="font-size: 13px; padding: 4px 10px; color: rgb(163, 163, 163)">이메일 주소</label>
            </div>
            <div class="form-floating" style="padding-bottom: 10px;">
                <input id="input_password" type="password" class="form-control" placeholder="Password" style="padding: 5px; height: 50px; font-size: 14px;">
                <label for="input_password" style="font-size: 13px; padding: 4px 10px; color: rgb(163, 163, 163)">패스워드</label>
            </div>
            <button id="login_button" class="btn btn-primary" style="padding-bottom: 10px; width: 100%;">
                로그인
            </button>
        </div>
        <div style="flex-direction: flex; padding: 10px 20px; text-align: center; border: solid 2px rgba(219, 219, 219, 1); width: 300px; height: 50px; margin-top: 10px; background: white;">
            <div>
                계정이 없으신가요? <a href="/user/join">가입하기</a>
            </div>
        </div>
    </div>
</body>
</html>