    .box {
        width: 80%;
        height: 80%; 
        border-radius: 70%;
        overflow: hidden;
        margin: auto;
    }
    .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .aboutme_head_font{
        font-size: 20px;
        font-weight: bolder;
    }
    .profile_name_font{
        margin-top: 3%;
        font-size: 25px;
        font-weight: bolder;
        color: black;
    }
    .profile_content_font{
        font-size: 17px;
        font-weight: bolder;
        color: rgb(68, 66, 66);
    }
    .profile_content_under_font{
        font-size: 10px;
        color: rgb(182, 178, 178);
        margin-top: 7%;
    }
    .dropdown_AboutMe{
        background-color: #FAFAFA;
        color: black;
        font-weight: bolder;
        text-align: center;
        border: 2px solid gainsboro;
        border-radius: 5px;
        width: 30%;
    }
    .main_screen_left_content{
        display: flex; 
        flex-direction: column; 
        text-align: center; 
        margin-top: 10%;
    }
    .main_navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0px 3%;
    }
    .main_screen{
        display: flex; 
        flex-direction: row; 
        text-align: center; 
        justify-content: center; 
        padding-top: 4%; 
        background-color: #FAFAFA;
    }
    .main_screen_left{
        width: 400px; 
        height: 100%; 
        background: #FAFAFA; 
        position: fixed; 
        left: 3%; 
        margin-top: 1%;
    }
    .main_screen_right{
        width: 700px;
        height: 3000px; 
        margin-left: 300px;
        margin-top: 1%;
        background-color: #FAFAFA;
    }
    .main_screen_contact_right{
        width: 700px;
        height: 3000px; 
        margin-left: 300px;
        margin-top: 1%;
        background-color: #FAFAFA;
    }
    .main_screen_right_sidebar{
        width: 20px;
        height: 97%; 
        position: fixed; 
        right: 3%;
        margin-top: 1%;
        background-color: #FAFAFA;
    }
    .navbar_profile_box{
        width: 25px;
        height: 25px; 
        border-radius: 70%;
        overflow: hidden; 
        margin: auto;
    }
    .navbar_profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 4px;
    }
    .navbar_right{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
    }

    @media (max-width: 1300px) {
    #main_screen_right {
        display: none;
    }
}


    .que{
        position: relative;
        padding: 10px 0;
        cursor: pointer;
        font-size: 14px;
        font-weight: bolder;
        margin-left: 10px;
    }
        
    .que.on>span{
        font-weight: bold;
        color: #006633; 
    }
        
    .anw {
        display: none;
        overflow: hidden;
        font-size: 14px;
        background-color: #FAFAFA;
        padding: 10px 0;
        margin-left: 10px;
    }
    
    .arrow-wrap {
        position: absolute;
        top:50%; right: 10px;
        transform: translate(0, -50%);
    }
    
    .que .arrow-top {
        display: none;
    }
    .que .arrow-bottom {
        display: block;
    }
    .que.on .arrow-bottom {
        display: none;
    }
    .que.on .arrow-top {
        display: block; 
    }
    /* scroll 영역 나누기 */
    html{overflow: hidden;}
    html, body{width: 100%; height: 100%;}

    .content{
        width: 100%; height: 100%;
        background-color: #FAFAFA;
        position: relative;
    }
    .content > h1{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);

        font-size: 20em;
        font-weight: bold;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    }

    .content:nth-child(even){background-color: #333;}

    /* 모달 css */
    .modal_overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
    }

    .modal_window {
        background: white;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 800px;
        height: 600px;
        position: relative;
        padding: 10px;
    }

    .modal_image_upload{
        outline: 2px dashed black ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width:780px;
        height: 548px;
    }

    
