.Layout_main{
    float: left;
    width: 100%;
    margin: 30px 0px 25px 230px;
    padding:10px;
    background-color: #1E1E1E;
    height: calc( 100% - 30px );
}

.Layout_main_vscode_img_box{
    margin: auto;
}

.Layout_main_vscode_img{
    width: 30%;
    height: 30%;
}