{%load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web_Portfolio</title>
    <!-- 부트 스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- 구글 머티리얼 아이콘-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Symbols+Outlined|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href ="/static/css/mystyle.css" type="text/css">
</head>

<body style="background: #FAFAFA;">
    <!-- 부트 스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg bg-white" style="position: fixed; z-index: 1; width: 100%; height: 6%;">
        <div class="container-fluid">
            <div class="main_navbar">
                <!-- nav bar left-->
                <div>
                    <a class="navbar-brand" href="/">
                        Web_Portfolio
                    </a>
                </div>

                <!-- About Me dropdown-->
                <div class="dropdown_AboutMe">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            MENU
                        </a>
                        <div class="dropdown-menu" style="text-align: center; width: 100%; margin-top: 3%;">
                            <li><a id="main_dropdown_menu_aboutme" class="dropdown-item" href="#">ABOUT ME</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a id="main_dropdown_menu_archiving" class="dropdown-item" href="#">ARCHIVING</a></li>
                            <li><a id="main_dropdown_menu_skills" class="dropdown-item" href="#">SKILLS</a></li>
                            <li><a id="main_dropdown_menu_project" class="dropdown-item">PROJECT</a></li>
                        </div>
                    </div>
                </div>

                <!-- nav bar right-->
                <div class ="navbar_right" >
                    <a href="/" style="color: black;"><span class="material-symbols-outlined" style="margin: 1px 7px;">home</span></a>
                    <span id="nav_bar_add_box" class="material-symbols-outlined" style="margin: 1px 7px; cursor: pointer;">add_box</span>
                    <a href="/content/contact" style="color: black;"><span class="material-symbols-outlined" style="margin: 1px 7px;">mail</span></a>
                    <div class="dropdown">
                        <a id ="dropdownMenu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="navbar_profile_box" style="margin: 1px 7px;">
                            <img class="navbar_profile" src="{% get_media_prefix %}{{user.profile_img}}">
                        </div>
                        <ul class="dropdown-menu" style="left: -130px; border-radius: 0%; top: 40px; z-index: 1;;" aria-labelledby="dropdownMenu">
                            <li><a class="dropdown-item">{{user.nickname}}</a></li>
                            <li><a class="dropdown-item" id="profile_upload" >프로필 변경</a></li>
                            <input type="file" id="input_File_upload" style="display:none;" onchange="profile_upload();"/>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                        </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav bar end -->

    <!-- main_screen -->
    <div class="main_screen" style=" overflow: hidden;">
        <!-- left screen -->
        <div class="main_screen_left">
            <div class="main_screen_left_content">
                <div class="box">
    
                    <img class="profile" src="{% get_media_prefix %}{{myemail.profile_img}}">
    
                </div>
                <div class="profile_name_font">
                    - 백종성 -
                </div>
                <div class="profile_content_font">
                    <br>
                    안녕하세요. 
                    <br>
                    개발이 너무 재미있는 개발자입니다.
                    <br>
                    저의 장점은 놀라운 집중력과 집요한 끈기를 통해 
                    <br>
                    어려운 문제도 풀어 내는 것입니다.
                </div>
                <div class="profile_content_under_font">
                    @ 2023 ProfileWeb From Jongseoung
                    <br>
                    @ Got any questions? - <a href="/content/contact" style="text-decoration: none;">Contact Me</a>
                </div>
            </div>
        </div>
        <!-- right screen -->
        <div class="main_screen_right" class="content">
            <!-- ABOUT ME feed box -->
            <div>
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; margin-top: 30px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        ABOUT ME
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 70%;">
                        <div style="display: flex; flex-direction: column; justify-content: center; text-align: left; margin-left: 10px;">
                            <div class="aboutme_head_font">
                                📚 늘 배우는 자세
                            </div>
                            <br>
                            <div>
                                <ul>
                                    <li>꾸준한 스터디</li>
                                    <li>동아리 활동 - 백준 문제 풀이</li>
                                </ul>
                            </div>
                            <div class="aboutme_head_font">
                                📑 기록하는 자세
                            </div>
                            <br>
                            <div>
                                <ul>
                                    <li>공부한 내용을 블로그와 깃허브에 정리</li>
                                </ul>
                            </div>
                            <div class="aboutme_head_font">
                                👨‍💻 다양한 프로젝트 경험
                            </div>
                            <br>
                            <div>
                                <ul>
                                    <li>랩실 활동</li>
                                    <li>토이 프로젝트</li>
                                </ul>
                            </div>
                            
                            <div class="aboutme_head_font">
                                👌 부드러운 커뮤니케이션 자세
                            </div>
                            <br>
                            <div>
                                <ul>
                                    <li>커뮤니케이션에 관한 내용</li>
                                </ul>
                            </div>
                            <div class="aboutme_head_font">
                                🎯 확실한 목표
                            </div>
                            <br>
                            <div>
                                <ul>
                                    <li>확실한 목표에 대한 내용</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;"></div>
                </div>
            </div>

            <!-- ARCHIVING feed box -->
            <div>
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; margin-top: 170px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        ARCHIVING
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 70%;">
                        <div style="display: flex; flex-direction: column; justify-content: center; text-align: left; margin-left: 10px;">
                            <div style="margin-top: 10px;">
                                <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer">
                                <img src="{% get_static_prefix %}img/git-hub.png" style="width: 25%; height: 5%; margin: 15px 5px;">
                                </a>
                            </div>
                            <div>
                                공부한 <b>소스 코드 기록</b>하였습니다.
                                <ul>
                                    <br>
                                    <li>과거 프로젝트, 프로그램 소스 코드</li>
                                    <li>혼자 유튜브, 인프런 강의를 보고 공부한 소스 코드</li>
                                </ul>
                            </div>
                            <div>
                                <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer">
                                <img src="{% get_static_prefix %}img/tstory.png" style="width: 25%; height: 5%; margin: 15px 5px;">
                                </a>
                            </div>
                            <div>
                                공부하면서 <b>어려웠던 부분이나 중요한 내용을 기록</b>하였습니다.
                                <ul>
                                    <br>
                                    <li>공부한 내용을 다시 한번 복습하면서 기록</li>
                                    <li>개발을 하면서 배운점이나 어려운점 기록</li>
                                    <li>훗날 나에게 도움을 주기 위한 기록</li>
                                </ul>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div style="margin-top: 30px;"></div>
                </div>
            </div>

            <!-- SKILLS feed box -->
            <div>
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; margin-top: 258px; margin-bottom: 220px; height: 500px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        SKILLS
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 90%;">
                        <div style="display: flex; flex-direction: column; justify-content: center; text-align: left; margin-left: 10px;">
                            <div id="Accordion_wrap">
                                <div class="que">
                                    <div class="aboutme_head_font">
                                        📕 Backend
                                    </div>
                                </div>
                                <div class="anw">
                                    <span>
                                        <div id="Accordion_wrap">
                                            <div class="que">Python</div>
                                                <div class="anw">
                                                    파이썬의 기초를 공부하고 자료구조와 알고리즘을 파이썬 기반으로 학습했습니다.
                                                </div>
                                            <div class="que">Django</div>
                                                <div class="anw">
                                                    Django로 Rest framwork를 활용하여 인스타그램 클론 개발을 해봤습니다.
                                                </div>
                                            <div class="que">SQLite</div>
                                                <div class="anw">
                                                    SQLite을 사용하여 간단한 인스타그램 클론 코딩을 해보았습니다.
                                                </div>
                                            <div class="que">AWS</div>
                                                <div class="anw">
                                                    AWS 관련 내용
                                                </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="que">
                                    <div class="aboutme_head_font">
                                        📗 Frontend
                                    </div>
                                </div>
                                <div class="anw">
                                    <span>
                                        <div id="Accordion_wrap">
                                            <div class="que">HTML5</div>
                                                <div class="anw">
                                                    HTML5의 구조와 작동 동작 원리를 이해하고있습니다.
                                                </div>
                                            <div class="que">CSS3</div>
                                                <div class="anw">
                                                    부트스트랩을 활용해서 만든 후 세부적인 설정은 CSS로 조절할 수 있습니다.
                                                </div>
                                            <div class="que">자바스크립트</div>
                                                <div class="anw">
                                                    자바 스트립트를 사용하여 회원가입, 로그인, 클릭모션, 스크롤 모션등을 만들어보았습니다.
                                                </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="que">
                                    <div class="aboutme_head_font">
                                        📘 Tools
                                    </div>
                                </div>
                                <div class="anw">
                                    <span>
                                        <div id="Accordion_wrap">
                                            <div class="que">Git-Hub</div>
                                                <div class="anw">
                                                    <ul>
                                                        <li>GitHub를 활용해서 프로젝트를 관리하고 커밋을 하고있습니다.</li>
                                                        <li>GitHub를 사용해서 풀었던 알고리즘 문제를 커밋 하고있습니다.</li>
                                                    </ul>
                                                </div>
                                            <div class="que">VScode</div>
                                                <div class="anw">
                                                    모든 프로젝트를 VScode를 이용하여 작성하고 실행하고있습니다.
                                                </div>
                                            <div class="que">Bootstrap</div>
                                                <div class="anw">
                                                    Bootstrap을 사용하여 css를 이용하여 style을 변경할 수 있습니다.
                                                </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;"></div> 
                </div>
            </div>

            <!-- PROJECT feed box1 -->
            <div style="margin-bottom: 130px;">
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; height: 623px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        PROJECT - 프로젝트 이름 
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 65%;">
                        사진 넣는 부분
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px 10px;">
                        <div>
                            좋아요
                        </div>
                        <div>
                            <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/git-hub-logo.png" style="width: 25px; height: 25px; object-fit: cover;"></a>
                            <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/tistorylogo.png" style="width: 33px; height: 33px; object-fit: cover;"></a>
                        </div>
                    </div>
                    <div style="text-align: left; margin-left: 10px;">
                        #Django #Python #HTML
                        <br>
                        프로젝트에 대한 간단한 설명
                    </div>
                </div>
            </div>

            <!-- PROJECT feed box2 -->
            <div style="margin-bottom: 130px;">
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; height: 623px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        PROJECT2 - 프로젝트 이름 
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 65%;">
                        사진 넣는 부분
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px 10px;">
                        <div>
                            좋아요
                        </div>
                        <div>
                            <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/git-hub-logo.png" style="width: 25px; height: 25px; object-fit: cover;"></a>
                            <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/tistorylogo.png" style="width: 33px; height: 33px; object-fit: cover;"></a>
                        </div>
                    </div>
                    <div style="text-align: left; margin-left: 10px;">
                        #Django #Python #HTML
                        <br>
                        프로젝트에 대한 간단한 설명
                    </div>
                </div>
            </div>

            <!-- PROJECT feed box3 -->
            <div style="margin-bottom: 130px;">
                <div style="border: solid; border-color: gainsboro; border-radius: 10px; height: 623px;">
                    <div style="text-align: left; margin: 5px 20px; font-size: 20px; font-weight: bolder;">
                        PROJECT3 - 프로젝트 이름 
                    </div>
                    <div style="border: 3px solid; border-color: gainsboro; margin: 0px 5px; border-radius: 10px; height: 65%;">
                        사진 넣는 부분
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 5px 10px;">
                        <div>
                            좋아요
                        </div>
                        <div>
                            <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/git-hub-logo.png" style="width: 25px; height: 25px; object-fit: cover;"></a>
                            <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/tistorylogo.png" style="width: 33px; height: 33px; object-fit: cover;"></a>
                        </div>
                    </div>
                    <div style="text-align: left; margin-left: 10px;">
                        #Django #Python #HTML
                        <br>
                        프로젝트에 대한 간단한 설명
                    </div>
                </div>
            </div>
        </div>
    
        <!-- main_screen_right_sidebar-->
        <div class="main_screen_right_sidebar">
            <div style="display: flex; flex-direction: column; height: 87%; justify-content: space-between;">
                <div>
                    <a href="https://github.com/jong-seoung" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/git-hub-logo.png" style="width: 25px; height: 25px; object-fit: cover;"></a>
                    <a href="https://jongseoung.tistory.com/" target="_blank" rel="noopener noreferrer"><img src="{% get_static_prefix %}img/tistorylogo.png" style="width: 25px; height: 25px; object-fit: cover; margin-top: 5px;"></a>
                </div>
                <div>
                </div>
                <div>
                    <span id="scrollup_button" class="material-symbols-outlined" style="cursor: pointer;">
                        expand_less
                    </span>
                </div>
            </div>
        </div>

    <!-- 첫번째 모달 만들기 -->
    <div id = "first_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="width: 40px;">
            
                </div>
                <div>
                    새 프로젝트 업로드
                </div>
                <div style="width: 40px;">
                    <a href="/" style="text-decoration: none; color: black;"><span class="material-symbols-outlined">close</span></a>
                </div>
            </div>
            <div class="modal_image_upload">
            </div>
        </div>
    </div>
    <!-- 두번째 모달 만들기 -->
    <div id = "second_modal" class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="width: 40px;">

                </div>
                <div>
                    새 프로젝트 업로드
                </div>
                <div style="width: 40px;">
                    <a href="/" style="text-decoration: none; color: black;"><span class="material-symbols-outlined">close</span></a>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; ">
                <div style="display: flex; flex-direction: column; text-align: left;">
                    <div class="modal_image_upload" style="width: 460px; height: 485px; outline: 2px dashed gray; border-radius: 3%;">
                    </div>
                    <div style=" margin-left: 7px;">
                        깃허브 <input id="mainmodal_github" type="text" name="name" size="47%" value=" Git-Hub" style="color: gainsboro; padding: 2px 2px;">
                    </div>
                    <div style=" margin-left: 7px; margin-top: 3px;">
                        블로그 <input id="mainmodal_blog" type="text" name="name" size="47%" value=" T_STORY" style="color: gainsboro; padding: 2px 2px;">
                    </div>
                </div>
                <div>
                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <div>
                                프로필
                            </div>
                            <div>
                                닉네임
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: column; justify-content: center;">
                    PROJECT NAME
                    <input id="mainmodal_projectname" type="text" name="name" size="38%" value=" PROJECT NAME" style="color: gainsboro; padding: 2px 2px;">
                    CONTENT
                    <textarea id="input_feed_content"class="form-control" style="width: 320px; height: 300px; text-align: left;"></textarea>
                    HASH TAG
                    <input id="mainmodal_HASH_TAG" type="text" name="name" size="38%" value=" #Django #Python #HTML" style="color: gainsboro; padding: 2px 2px;">
                    <button type="button" id= "feed_create_button"class="btn btn-primary" style="width: 315px; margin: 5px;">
                        공유하기
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    

    
<script>
        $(".que").click(function() {
        $(this).next(".anw").stop().slideToggle(300);
        $(this).toggleClass('on').siblings().removeClass('on');
        $(this).next(".anw").siblings(".anw").slideUp(300); // 1개씩 펼치기
        });
        
        //클릭시 화면 맨 위로 이동
        $('#scrollup_button').click(function(){
            $html.animate({scrollTop : 0});
            page = 1;
        });
        
        // 메인화면 메뉴 클릭시 이동
        $('#main_dropdown_menu_project').click(function(){
            page = 4;
            
            var posTop = (page-1) * $(window).height();
            $html.animate({scrollTop : posTop});
        });

        $('#main_dropdown_menu_skills').click(function(){
            page = 3;
            
            var posTop = (page-1) * $(window).height();
            $html.animate({scrollTop : posTop});
        });

        $('#main_dropdown_menu_archiving').click(function(){
            page = 2;
            
            var posTop = (page-1) * $(window).height();
            $html.animate({scrollTop : posTop});
        });

        $('#main_dropdown_menu_aboutme').click(function(){
            page = 1;
            
            var posTop = (page-1) * $(window).height();
            $html.animate({scrollTop : posTop});
        });
        
        //기본 이벤트 제거
        window.addEventListener("wheel", function(e){
            e.preventDefault();
            },{passive : false});

        // 참조 요소
        var $html = $("html");
        var page = 1;
        var lastPage = $(".content").length;
        $html.animate({scrollTop:0},10);

        // 메인 이벤트
        $(window).on("wheel", function(e){

        if($html.is(":animated")) return;

        if(e.originalEvent.deltaY > 0){
            if(page== lastPage) return;
            page++;
        }else if(e.originalEvent.deltaY < 0){
            if(page == 1) return;
            page--;
        }

        var posTop = (page-1) * $(window).height();
        $html.animate({scrollTop : posTop});
        });

        // 프로필 변경
        $('#profile_upload').click(function(){
            $('#input_File_upload').click();
        });

        function profile_upload(){

            let file = $('#input_File_upload')[0].files[0];

            let email = "{{ user.email }}";

            let fd = new FormData();
            fd.append('file',file);
            fd.append('email',email);

            $.ajax({
                url: "/user/profile/upload",
                data: fd,
                method: "POST",
                processData: false,
                contentType: false,

                success: function (data){
                    console.log("성공");
                },
                error: function (request, status, error){
                    console.log("에러");
                },
                complete: function (){
                    console.log("완료");
                    location.replace("/");
                }
            });
        }


        // 프로젝트 이미지 업로드 창
        $('#nav_bar_add_box').click(function(){
        $('#first_modal').css({
        display : 'flex',
        });
        $('html, body').animate({scrollTop:0}, '300');
        $(document.body).css({
        overflow : 'hidden'
        });
    });

    $('.modal_image_upload')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e){
        e.stopPropagation();
        e.preventDefault();

        if (e.type == "dragover") {
        $(e.target).css({
        "background-color": "black",
        "outline-offset": "-20px"
        });
        } 
        else {
        $(e.target).css({
        "background-color": "gray",
        "outline-offset": "-10px"
        });
        }
    }
    
    function uploadFiles(e){
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer; //2
        files = e.target.files || e.dataTransfer.files;
    
        if (files.length > 1) {
        alert('사진은 하나만 올릴 수 있습니다.');
        return;
        }

        if (files[0].type.match(/image.*/)) {
        $(".modal_image_upload").css({
        "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
        "background-size": "95%",
        "background-repeat": "no-repeat",
        "background-position": "center"
        });

        $('#first_modal').css({
        display : 'none',
        });
        $('#second_modal').css({
        display : 'flex',
        });
        }
        else{
        alert('이미지가 아닙니다.');
        return;
        }

    }

    // 클릭시 기존 입력값 제거 - 프로젝트 업로드
    // 프로젝트 이름
    $("#mainmodal_projectname").click(function(){
            $("#mainmodal_projectname").val("");
            $("#mainmodal_projectname").css('color','black');
        });

    // 해시태그
    $("#mainmodal_HASH_TAG").click(function(){
            $("#mainmodal_HASH_TAG").val("");
            $("#mainmodal_HASH_TAG").css('color','black');
        });
    
    // 깃허브
    $("#mainmodal_github").click(function(){
            $("#mainmodal_github").val("");
            $("#mainmodal_github").css('color','black');
        });

    // 블로그
    $("#mainmodal_blog").click(function(){
            $("#mainmodal_blog").val("");
            $("#mainmodal_blog").css('color','black');
        });
</script>
</body>
</html>